@media screen and (max-width: 600px) {
    body{
        width: 100vw;
    }
    .titulo{height: 6rem;
        font-size: 2rem;
        align-content: baseline;
        padding: 1rem;
    }
    .containerinicio{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
        grid-template-areas:
        "fotoinicio fotoinicio fotoinicio"
        "texto1 texto1 texto1"
        "texto2 texto2 texto2"
        "texto3 texto3 texto3";
         .fotoinicio{
            margin-bottom: 0;
            width: 100%;
            height: auto;
         }
         .parrafo1{
            text-align: justify;
            font-size: 20px;
         } 
    }

    .titulotraduccion{
        height: 6rem;
        font-size: 20px;
        padding: 1rem;
    }
    .containertrad{
        min-height: 100vh;
        min-width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
          "tradpublica"
          "textopublica" 
          "tradjuridica"
          "textojuridica"
          "correccion" 
          "textocorreccion";
          .fotopublica{
            width: 100%;
            height: auto;
          }
          .fotojuridica{
            @extend .fotopublica
          }
          .fotocorreccion{
            @extend .fotojuridica
          }
          .textopublica{
            width: 100%;
            font-size: 1rem;
            h4{
                font-size: 22px;
            }
            h2{
                font-size: 20px;
            }
          }
    }

    .containersobremi{
        margin: 0;
        min-height: 100vh;
        max-width: 100vw;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 1fr 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
          "sobremi1"
          "sobremi2" 
          "sobremi3"
          "sobremi4"; 
          .sobremi1{
            max-width: 100%;
            padding: 0;
            margin: 0;
            h2{
                line-height: 3rem;
                 }
             }
           .sobremi2{
            max-width: 100%;
            padding: 0;
            margin: 0;
           } 
           .sobremi3{
            max-width: 100%;
            margin: 0;
            padding: 0;
            .fotosobremi{
                width: 100%;
                padding: 25px;
            }
           }
           .sobremi4{
            max-width: 100%;
            padding: 0;
            margin: 0;
            h2{
                text-align: center;
            }
           }
          
    }
    
    .titulocontacto{
        font-size: 3rem;
    }
    .hablemos{
        display: flex;
        flex-direction: column;
        .contacto1{
            h3{
                font-size: 1.5rem;
                margin-bottom: 35px;
            }
        }
        .contacto2{
            h3{
                font-size: 1.5rem;
            }
            .areamensaje{
                max-width:100%;
            }
        }
    }

    .titulogaleria{
        font-size: 2.5rem;
    }
    .galeria{
        max-width: 100vw;
        margin: 0%;
        display: flex;
        flex-direction: column;
        div{
            margin: 0%;
            }
            
            .galeria2 img{
            width: 400px;

        }

        }
    
    footer{
        max-width: 100%;
    }
}