*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "variables";
@import  "index";
@import  "sobremi";
@import "traduccion";
@import "contacto";
@import "galeria";
@import  "footer";
@import "queries";